<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Title</label>
                    <input name="coursetitle" [(ngModel)]="coursetitle" type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Description</label>
                    <input name="description"  [(ngModel)]="description" type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Venue</label>
                    <input name="venue" [(ngModel)]="venue" type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Duration</label>
                    <input name="duration"  [(ngModel)]="duration" type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date</label>
                    <input  name="date"  [(ngModel)]="date"type="date" name="" id="" class="form-control">
                    
                </div>
                 <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="readValues()" class="btn btn-primary">Submit</button>
                </div>


                
            </div>
        </div>
    </div>
</div>